.expanderButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.expanderButton:hover {
  background-color: var(--y-color-control-background-hover);
}
