.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 16px;
  text-wrap: nowrap;
}

.statusIcon {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
