.wrapper {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: var(--y-color-background);
  z-index: var(--max-z-index);
  transform: translateX(100%);
  transition: transform 0.1s ease-out;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  overscroll-behavior: none;
}

.isOpen {
  display: flex;
  transform: translateX(0);
}

.drawerContent {
  transition: transform 0.15s ease-out;
  transform: translateX(0);
  height: 100%;
}

.drawerContent.showSecondary {
  transform: translateX(-100%);
}

.primaryElement {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.secondaryElement {
  min-width: 100%;
  overscroll-behavior: auto;
}

.header {
  padding: 24px 24px 12px 36px;
  flex-wrap: wrap;
  row-gap: 16px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.headerIcons {
  display: flex;
  gap: 8px;
  margin-right: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 12px 24px 24px 36px;
  height: 100%;
  overscroll-behavior: none;
  overflow-wrap: break-word;
  align-items: stretch;
}

.loaderBlock {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  color: var(--y-color-secondary-inline);
  transition: all 0.1s ease-in;
}

.closeIcon:hover {
  color: var(--y-color-secondary-inline-hover);
}

.iconActive,
.iconActive:hover {
  color: var(--y-color-accent);
}
