*.pyc
__pycache__/
/htmlcov/
**/venv/
**/.venv/
static/
!docs/source/static
testy-static/
media/
/pg-data/
/redis_data/
.env
.env.local
db.sqlite3
.DS_Store
.idea
.coverage
.vscode
.pytest_cache
grafana-data
loki-data
node_modules/
testy_static/dist/*.html
*.egg-info/
*.egg
volumes/
nginx/*.crt
nginx/*.key
/.env.prod
/.gitlab-ci.yml
/.gitleaks.toml
/.gitleaksignore
/backend/user_activity.log
celerybeat-schedule
docs/local/
