.mdViewer {
  z-index: var(--max-z-index);
  position: relative;
  font-size: 14px;
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition:
    all 0.3s,
    height 0s;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: var(--y-color-text-primary);
  background-color: var(--y-color-background);
  background-image: none;
  border: 1px solid var(--y-color-border);
  user-select: none;
}

.mdViewer *,
.markdown * {
  text-wrap: balance;
}

.markdown ul,
.mdViewer ul {
  padding: 4px 0;
}

.markdown ul,
.mdViewer ul,
.markdown ol,
.mdViewer ol {
  padding-left: 2em;
}

.markdown {
  font-size: 14px;
  padding: 8px;
}

.markdown table,
.mdViewer table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown img {
  width: 100%;
}

.markdown tr,
.mdViewer tr {
  border-top: 1px solid var(--y-color-border);
  background: var(--y-color-background);
}

.markdown th,
.mdViewer th,
.markdown td,
.mdViewer td {
  padding: 6px 13px;
  border: 1px solid var(--y-color-border);
}

.markdown table tr:nth-child(2n),
.mdViewer table tr:nth-child(2n) {
  background: var(--y-color-background-alternative);
}

.markdown blockquote,
.mdViewer blockquote {
  color: var(--y-color-text-secondary);
  margin: 0;
  padding-left: 14px;
  border-left: 0.5em var(--y-color-border) solid;
  background-color: var(--y-color-datatable-header-background);
  padding-top: 14px;
  padding-bottom: 14px;
}

.markdown blockquote p {
  margin-bottom: 0;
}

.content img,
.mdViewer img {
  width: 100%;
}

.markdown .contains-task-list,
.mdViewer .contains-task-list {
  list-style: none;
  padding-left: 0;
}
