.tableRow {
  border-bottom: 1px solid var(--y-color-divider);
}

.clickable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.draggable:hover {
  background-color: var(--y-color-datatable-cell-hover);
}

.clickable:hover {
  background-color: var(--y-color-datatable-cell-hover);
}

.tableRow[data-active="true"] {
  background-color: var(--y-color-datatable-selected-row-background);
}

.solid td {
  background-color: var(--y-color-background);
}

.linear td {
  background-color: transparent;
}

.tree td:first-child {
  padding: 0;
}

.solid th {
  background-color: var(--y-color-datatable-header-background);
}

.linear th {
  background-color: transparent;
}
