.cardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--y-color-background);
  user-select: none;
}

.cardContainer {
  position: relative;
  flex-direction: column;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 32px;
  grid-template-areas:
    "Name Name Action"
    "Data Data Data"
    "ActionBtns ActionBtns ActionBtns";
}

.nameBlock {
  grid-area: Name;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.iconBlock {
  margin-bottom: auto;
}

.name {
  color: var(--y-color-text-secondary);
  font-size: 22px;
  font-weight: 600;
  word-break: break-all;
}

.projectTitle {
  color: var(--y-color-text-secondary);
  line-height: 32px;
}

.dataBlock {
  grid-area: Data;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  padding-left: 0;
}

.dataBlock li {
  display: flex;
  flex-direction: column;
}

.link:hover .dataTitle {
  text-decoration: underline;
}

.dataCount {
  color: var(--y-color-text-secondary);
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
}

.dataTitle {
  color: var(--y-color-text-secondary);
  font-size: 14px;
  line-height: 24px;
}

.btnsBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  border-top: solid 1px var(--y-color-divider);
  margin: 0;
  padding-left: 0;
}

.btnBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--y-grey-40);
  transition: all 0.1s ease-in;
}

.btnBlock:hover .btnBlockTitle {
  text-decoration: underline;
  color: var(--y-color-text-secondary);
}

.btnBlockTitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.action {
  grid-area: Action;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBlured {
  filter: blur(4px);
}

.cardBlured * {
  cursor: default;
  pointer-events: none;
  user-select: none;
}
