.baseColorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: border 0.1s ease-in;
  border: 1px solid transparent;
}

.baseColorBox:hover {
  border: 1px solid var(--y-color-control-border-hover);
}

.activeBox,
.activeBox:hover {
  border: 1px solid var(--y-color-control-border-focus);
}

.boxInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
