.notificationWrapper {
  padding: 8px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notificationWrapper :global(.ant-notification-notice-content) {
  width: 100%;
}

.notificationWrapper :global(.ant-notification-notice-with-icon) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.notificationWrapper :global(.ant-notification-notice-message) {
  margin: 0 !important;
  width: 100% !important;
  padding-right: 0 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.notificationWrapper :global(.ant-notification-notice-icon),
.notificationWrapper :global(.ant-notification-notice-close) {
  position: relative !important;
  inset-inline-end: 0 !important;
  top: inherit !important;
  width: 24px !important;
  height: 24px !important;
}
